body {
    background: url('../img/fundo.jpeg') no-repeat;
    background-size: cover;
}

.container {
    background: #fff;
    /* Largura da tela */
    max-width: 400px;
    /* Centralizar */
    margin: 0 auto;
    border-radius: 30px;
    /* Espaçamento dentro do elemento */
    padding: 1px;
    text-align: center;
}

.container h1 {
    color: darkred;
    /* Espaçamento dentro do elemento */
    padding: 15px;
    /* Tamanho de texto */
    font-size: 40px;
}

#tarefas {
    border: 2px solid gray;
    padding: 15px;
    border-radius: 50px;
    outline: none;
    color: black;
}

#tarefas::placeholder {
    color: gray;

}

.botao {
    background: rgb(243, 99, 99)
    padding-box 0px;
    border: 0;
    border-radius: 8px;
}